.DS_Store
*.db
*.log
log/
data/
custom/
.idea/
*.iml
public/img/avatar/
*.exe
*.exe~
/gogs
profile/
*.pem
output*
*.sublime-project
*.sublime-workspace
/release
.vscode/
.task/checksum/web

# ci relate
ci-repo/
