<div class="ui message">
	<div class="header">
		BuGit迁移提示
	</div>
	<p>
		BuGit账号系统已更新，请重新激活账户，并根据需要，手动迁移旧的代码仓库。<br />
		旧版BuGit请访问<a href="https://git-v1.scs.buaa.edu.cn">https://git-v1.scs.buaa.edu.cn</a>
	</p>
</div>
