{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div class="logo">
				<img src="{{AppSubURL}}/img/gogs-hero.png" />
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
