{{template "base/head" .}}
<div class="repository">
		{{template "repo/header" .}}
	<div class="ui container">
		<div class="ui container">
		{{if .ExistDeploy}}
		<div class="ui attached header">
			服务详情
		</div>
		<div class="ui attached segment">
		<div class="ui cards">
			<div class="ui card">
				<div class="content">
					<div class="header">服务详情</div>
				</div>
				<div class="content">
						{{range .DeployDes.Ports}}
							<div class="event">
								<div class="content">
									<div class="summary">
										<p>名称：{{.Name}}</p>
										<p>服务端口：<a href="http://{{$.DeployDes.IP}}:{{.ExportPort}}">{{$.DeployDes.IP}}:{{.ExportPort}}</a></p>
										<p>协议：{{.Protocol}}</p>
										<p>容器端口：{{.Port.Port}}</p>
									</div>
								</div>
							</div>
								<div class="ui divider"></div>
						{{end}}
				</div>
				<div class="extra content">
						<a class="ui button" href="{{.DeployDes.SvcURL}}">详情</a>
				</div>
			</div>
			<div class="card">
				<div class="content">
					<div class="header">
						容器详情
					</div>
					<div class="description">
						容器状态：{{.DeployDes.PodStatus}}
					</div>
				</div>
				<div class="extra content">
					<a class="ui button" href="{{.DeployDes.SvcURL}}">详情</a>
				</div>
			</div>
			<div class="ui card">
				<div class="content">
					<div class="header">元信息</div>
					<div class="description">
						<p>创建者：<a href="{{.DeployDes.Pusher.HomeLink}}">{{.DeployDes.Pusher.Name}}</a></p>
						<p>分支：<a rel="nofollow" class="ui sha label" href="{{.DeployDes.BranchURL}}">{{.DeployDes.Branch}}</a></p>
						<p>提交：<a rel="nofollow" class="ui sha label" href="{{.DeployDes.CommitURL}}">{{.DeployDes.PrettyCommit}}</a></p>
					</div>
				</div>
			</div>
		</div>
		</div>
			{{else}}
			<div class="ui header">
				无已部署服务
			</div>
		{{end}}
		</div>

		<div class="ui divider"></div>

		<div class="ui container">
		<div class="text right">
			<i class="octicon octicon-git-branch"></i>
			<select class="ui pipeline_dropdown dropdown">
					{{range .Branches}}
						<option value="{{.}}">{{.}}</option>
					{{end}}
			</select>
			<button class="ui button" onclick="refreshPipelineListAuto()">
				更新
			</button>
			<button class="ui button" onclick="manualCI('/api/v1/repos/{{.Repository.Owner.Name}}/{{.Repository.Name}}/devops')">
				构建 & 部署
			</button>
		</div>
		</div>


		<div class="ui divider"></div>




			<div class="ui pipeline_list container">
				{{template "explore/pipe_list" . }}
			</div>
	</div>
</div>
{{template "base/footer" .}}
