{{template "base/head" .}}
<div class="organization new org">
	<div class="ui middle very relaxed page grid">
		<div class="column">
			<form class="ui form" action="{{.Link}}" method="post">
				{{.CSRFTokenHTML}}
				<h3 class="ui top attached header">
					{{.i18n.Tr "new_org"}}
				</h3>
				<div class="ui attached segment">
					{{template "base/alert" .}}
					<div class="inline required field {{if .Err_OrgName}}error{{end}}">
						<label for="org_name">{{.i18n.Tr "org.org_name_holder"}}</label>
						<input id="org_name" name="org_name" value="{{.org_name}}" autofocus required>
						<span class="help">{{.i18n.Tr "org.org_name_helper"}}</span>
					</div>

					<div class="inline required field {{if .Err_Courses}}error{{end}}">
						<label for="org_course">{{.i18n.Tr "org.org_course_holder"}}</label>
						<div class="ui selection dropdown" id="org_course_dropdown">
							<input type="hidden" name="org_course">
							<i class="dropdown icon"></i>
							<div class="default text"></div>
							<div class="menu">
								{{range .Courses}}
								<div class="item" data-value="{{.ID}}">{{.Name}}</div>
								{{end}}
							</div>
						</div>
					</div>

					<div class="inline required field {{if .Err_Exps}}error{{end}}">
						<label for="org_exp">{{.i18n.Tr "org.org_exp_holder"}}</label>
						<div class="ui selection dropdown" id="org_exp_dropdown">
							<input type="hidden" name="org_exp">
							<i class="dropdown icon"></i>
							<div class="default text"></div>
							<div class="menu" id="exp_items">
							</div>
						</div>
					</div>

					<div class="inline field">
						<label></label>
						<button class="ui green button">
							{{.i18n.Tr "org.create_org"}}
						</button>
						<a class="ui button" href="{{AppSubURL}}/">{{.i18n.Tr "cancel"}}</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{{template "base/footer" .}}
