{{template "base/head" .}}
<div class="organization profile">
	<div class="ui container">
		<div class="ui grid">
			<div class="ui sixteen wide column">
                <div class="ui items">
                    <div class="item">
                        <div class="image">
                            <img class="ui left" id="org-avatar" src="https://cdn.loheagn.com/project_default.png"/>
                        </div>
                        <div class="middle aligned content">
                            <div class="ui header">
                                {{.Project.Name}}
                            </div>
                            <div class="description">
                                <p>
                                    归属于&nbsp;{{.Project.CourseName}}&nbsp;的&nbsp;{{.Project.ExpString}}
                                </p>
                                <p>
                                    {{if .Project.Sender}}由&nbsp;<a href="{{.Project.Sender.HomeLink}}">@{{.Project.Sender.Name}}</a>&nbsp;{{end}}
                                    创建于&nbsp;{{TimeSince .Created .i18n.Lang}}&nbsp;
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
		    </div>
        </div>
	</div>

	<div class="ui divider"></div>

	<div class="ui container">
		<div class="ui grid">
			<div class="ui eleven wide column">
                <div class="ui secondary pointing menu">
					<a class="{{if eq .TabName "" "repo"}}active{{end}} item" href="{{.Project.HomeLink}}">
						<i class="octicon octicon-repo"></i> {{.i18n.Tr "project.repos"}}
					</a>
                    <a class="{{if eq .TabName "pipeline"}}active{{end}} item" href="{{.Project.HomeLink}}?tab=pipeline">
                        <i class="octicon octicon-rocket"></i>&nbsp;{{.i18n.Tr "project.pipelines"}}
                    </a>
				</div>

                {{if eq .TabName "" "repo"}}
					{{template "explore/repo_list" .}}
					{{template "explore/page" .}}
				{{else if eq .TabName "pipeline"}}
                    <div class="text right">
						<a class="ui green button" id="create_deploy_button">{{.i18n.Tr "new_deploy"}}</a>
					</div>
					<div class="ui divider"></div>



<div class="ui modal" id="create_deploy_box">
  <i class="close icon"></i>
  <div class="header">
    Profile Picture
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img src="https://semantic-ui.com/images/avatar2/large/rachel.png">
    </div>
    <div class="description">
      <div class="ui header">We've auto-chosen a profile image for you.</div>
      <p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated with your registered e-mail address.</p>
      <p>Is it okay to use this photo?</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Nope
    </div>
    <div class="ui positive right labeled icon button">
      Yep, that's me
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>

					{{template "explore/pipe_list" .}}
				{{end}}
            </div>

            <div class="ui five wide column">
                {{/* 项目成员表头 */}}
                <div class="ui top attached header">
					<strong>{{.i18n.Tr "project.members"}}</strong>
                    <div class="ui right">
                        {{.NumMembers}}
                    </div>
				</div>

                {{/* 具体的项目成员列表 */}}
                <div class="ui attached segment members">
					{{range .Members}}
						<a href="{{.HomeLink}}">
                            <img class="ui avatar" src="{{.RelAvatarLink}}">
                        </a>
					{{end}}
				</div>
            </div>
        </div>
	</div>
</div>
{{template "base/footer" .}}