{{template "base/head" .}}
<div class="organization profile">
	<div class="ui container">
		<div class="ui grid">
			<div class="ui sixteen wide column">
                <div class="ui items">
                    <div class="item">
                        <div class="image">
                            <img class="ui left" id="org-avatar" src="https://cdn.loheagn.com/project_default.png"/>
                        </div>
                        <div class="middle aligned content">
                            <div class="ui header">
                                {{.Project.Name}}
                            </div>
                            <div class="description">
                                <p>
                                    {{if .Project.Sender}}由&nbsp;<a href="{{.Project.Sender.HomeLink}}">@{{.Project.Sender.Name}}</a>&nbsp;{{end}}
                                    创建于&nbsp;{{TimeSince .Created .i18n.Lang}}&nbsp;
                                </p>
                                <p>
                                    归属于&nbsp;{{.Project.CourseName}}&nbsp;的&nbsp;{{.Project.ExpString}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
		    </div>
        </div>
	</div>

	<div class="ui divider"></div>

	<div class="ui container">
		<div class="ui grid">
			<div class="ui eleven wide column">
            </div>

            <div class="ui five wide column">
                {{/* 项目成员表头 */}}
                <div class="ui top attached header">
					<strong>{{.i18n.Tr "project.members"}}</strong>
                    <div class="ui right">
                        {{.NumMembers}}
                    </div>
				</div>

                {{/* 具体的项目成员列表 */}}
                <div class="ui attached segment members">
					{{range .Members}}
						<a href="{{.HomeLink}}">
                            <img class="ui avatar" src="{{.RelAvatarLink}}">
                        </a>
					{{end}}
				</div>
            </div>
        </div>
	</div>
</div>
{{template "base/footer" .}}