<div class="ui repository list">
	{{range .Projects}}
		<div class="item">
			<div class="ui grid">
				<div class="ui two wide column middle aligned center">
					<i class="mega-octicon octicon-beaker"></i>
				</div>
				<div class="ui fourteen wide column no-padding-left">
					<div class="ui header">
						<a class="name" href="{{AppSubURL}}/{{.Sender.Name}}/project/{{.Name}}">{{.Sender.Name}} / {{.Name}}</a>
					</div>
					<p class="time">{{$.i18n.Tr "org.repo_updated"}} {{TimeSince .Updated $.i18n.Lang}}</p>
				</div>
			</div>
		</div>
	{{end}}
</div>
